.venueCard {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
}

.VenueCardImage {
    width: 100%;
    border-radius: 9px;
}

.venueInfo {
    display: flex;
    flex-direction: column;
}

h2 {
    word-break: break-word; 
    overflow-wrap: anywhere;
    margin: 10px 0;
    width: 100%;
    text-align: center;
}

.topInfo {
    align-self: center;
}

.reviewBox {
    border-radius: 6px;
    background-color: #3C48F6;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: bold;
    display: inline-flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
    padding: 5px;   
    min-width: 35px; 
    max-width: fit-content;
}

.topListInfo {
    list-style: none;
    display: flex;
    gap: 2rem;
    font-style: italic;
    font-size: 1.1rem;
}

.xIcon {
    color: #F53232;
    font-size: 1.5rem;
}

.checkIcon {
    color: #14BB08;
    font-size: 1.5rem;
}

.infoDetails {
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    max-width: 800px;
}

.description {
    max-width: 45%;
}

.bottomInfo {
    text-align: center;
    border-radius: 9px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    padding: 0px 22px 15px;
    height: 100%;
    align-self: center;
    margin-top: 35px;
}

.listInfo {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-style: italic;
    min-width: 220px;
    max-width: 250px;
    gap: 5px;
}

.listInfo p {
    margin: 0;
}

span {
    font-weight: bold;
}

.listInfo hr {
    border: none;              
    border-top: 1px solid #ccc; 
    margin: 8px 0;             
    opacity: 0.5;              
}

.bookingBtn {
    background-color: #4B45F2;
    color: #FFF;
    margin: 25px 0 20px;
}

