.profileContainer {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    max-width: 925px;
}

hr {
    border: none;
    height: 2px; 
    background-color: rgba(75, 69, 242, 0.5);
    width: 100%;
}

.profileInfoWrapper {
    display: flex;
    max-width: 788px;
    align-items: center;
    gap: 3rem;
    padding: 5px;
    margin: 10px auto;
}

.aboutMe {
    font-size: .9rem;
    font-style: italic;
}

.name {
    font-weight: bold;
}

.profileImgEdit {
    position: relative;
    display: inline-block;
}
.profileAvatar {
    max-width: 72px;
    border-radius: 50%;
    border: 1px solid rgba(75, 69, 242, 0.5);
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.editBtn {
    position: absolute;
    top: 41px;
    right: -24px;
}

.managerSection, .costumerSection {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

.newVenueBtn {
    background-color: #4B45F2;
    color: #FFF;
}

.editBtn {
  background: none;
  border: none;
}

.editBtn:hover {
  background: none !important;
  color: inherit !important;
  box-shadow: none !important;
}
